{% extends '/dashboard/template.html.twig' %}

{% block title %}Projetos{% endblock %}

{% block body %}
    <div class="fundo">

        <h2>Novo Projeto</h2>
        {{ form_start(form) }}
            <h3>Titulo:</h3>
            {{ form_widget(form.title) }}
            <h3>Autor:</h3>
            {{ form_widget(form.autor) }}
            <h3>Descrição:</h3>
            {{ form_widget(form.descricao) }}
            <h3>Imagem:</h3>
            {{ form_row(form.imagem )}}
            <h3>Arquivo</h3>
            {{ form_row(form.arquivo) }}
            <br>
            {{ form_widget(form.save) }}
            <br>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
