{% extends '/nidiap/template.html.twig' %}

{% block title %}Nidiap{% endblock %}

{% block body %}

    <!-- Inicio seção Conteudo-->
    <div class="container alt">
        <div class="row bg-card">
            <div class="col-md-12 text-center">
                <h1>Noticas</h1>
            </div>
            <div class="card mb-3 mr-3 col-md-6 border-0" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-5 m-auto">
                        <a href="{{ path('detalhe_noticia_index') }}">
                            <img src="{{ asset('vendor/bootstrap-dist/imagem/desenvolvimentojogos.png') }}" alt="Jogos" class="card-img">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <a href="{{ path('detalhe_noticia_index') }}" class="text-warning"> <h5 class="card-title">Card title</h5> </a>
                            <p class="card-text cor-paragrafo">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 mr-3 col-md-6 border-0" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-5 m-auto">
                        <a href="">
                            <img src="{{ asset('vendor/bootstrap-dist/imagem/desenvolvimentojogos.png') }}" alt="Jogos" class="card-img">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <a href="" class="text-warning"> <h5 class="card-title">Card title</h5> </a>
                            <p class="card-text cor-paragrafo">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 mr-3 col-md-6 border-0" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-5 m-auto">
                        <a href="">
                            <img src="{{ asset('vendor/bootstrap-dist/imagem/desenvolvimentojogos.png') }}" alt="Jogos" class="card-img">
                        </a>                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <a href="" class="text-warning"> <h5 class="card-title">Card title</h5> </a>
                            <p class="card-text cor-paragrafo">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 mr-3 col-md-6 border-0" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-5 m-auto">
                        <a href="">
                            <img src="{{ asset('vendor/bootstrap-dist/imagem/desenvolvimentojogos.png') }}" alt="Jogos" class="card-img">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">

                            <a href="" class="text-warning"> <h5 class="card-title">Card title</h5> </a>
                            <p class="card-text cor-paragrafo">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Navegação" class="d-flex justify-content-center mt-3">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Anterior">
                        <span class="text-warning" aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Anterior</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                <li class="page-item text-dark">
                    <a class="page-link" href="#" aria-label="Próximo">
                        <span class="text-warning" aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Próximo</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <!-- Fim seção Conteudo-->

{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}